@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
}

p {
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.head {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin-bottom: -0.9rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: white;
    margin-bottom: -1rem;
}

#logoImage {
    width: 15rem;
    margin-right: 0.5rem;
    /* margin-bottom: -0.5rem; */
}

#logoName {
    margin-bottom: -0.3rem;
    font-size: 1.5rem;
    color: #ff4500;
}

.nameAndTag {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#tagLine {
    color: rgba(0, 0, 0, 0.588);
    font-size: 0.9rem;
    font-weight: 500;
}

.locAndNotify {
    background-color: rgba(11, 11, 11, 0.069);
    display: flex;
    border-radius: 0.8rem;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
}

.loc {
    display: flex;
    align-items: center;
}

#locIcon {
    width: 1.2rem;
    margin-right: 0.2rem;
}

#locText {
    font-weight: 600;
    /* font-size: 0.5rem; */
}

.offer {
    width: 100%;
    padding: 1rem;
}

#offer {
    padding-left: 0.5rem;
}

#offerImage {
    width: 100%;
    border-radius: 0.8rem;
    margin-top: 1rem;
    margin-bottom: -1.5rem;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.name,
.number {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    margin-top: 0.5rem;
    width: 70%;
}

#name,
#number {
    margin: 0.5rem 1rem;
    padding: 0.7rem 2rem;
    border-radius: 0.5rem;
    text-align: center;
    /* border: 0.1rem solid black; */
    border: none;
    box-shadow: 0rem 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, 0.172);
    width: 100%;
}

#btn {
    width: 60%;
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    margin: 1.5rem 2rem;
    border-radius: 0.5rem;
    border: none;
    /* box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.133); */
    color: white;
    background-color: #ff4500;
    font-weight: 600;
}

.why {
    padding: 0.5rem;
    margin-top: -1rem;
    padding-bottom: 5rem;
}

#whyHeadline {
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.why1 {
    padding: 0.2rem 0.5rem;
    display: flex;
    align-items: center;
}

#why1 {
    width: 1.2rem;
    margin-right: 0.4rem;
}

.foot {
    background-color: #ff4500;
    color: white;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    bottom: 0;
    margin-bottom: -0.1rem;
    position: fixed;
    position: -webkit-sticky;
    width: 100%;
}

#callIcon {
    width: 2rem;
}

/* codePage.html */

.discCode {
    padding: 1rem;
    margin: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#discImage {
    margin: 0 1rem 1rem 1rem;
    width: 30%;
}

#discHeadline {
    font-size: 1.4rem;
    padding: 0 1rem;
}

#discCode {
    margin: 1rem 1rem 2rem 1rem;
    color: white;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    background-color: #ff4500;
    border-radius: 0.8rem;
}

#note {
    color: #ff4500;
}

#screenshotText {
    margin: 0.3rem 1rem;
    font-size: 1.2rem;
}

#visitLine {
    margin: 0.8rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: #ff4500;
    padding: 1rem 0 4rem 0;
}

